@import url('https://fonts.googleapis.com/css2?family=Alata:wght@400&family=Josefin+Sans:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Styles */
@layer utilities {
  .text-xlg {
    font-size: 2.8rem;
  }
  html {
    font-size: 15px;
  }
  body,
  html {
    height: 100vh;
  }
  /* body{} */

  .nav-menu {
    @apply fixed bg-black top-0 left-0 right-0 bottom-0 transform  text-white z-50;
  }
  @media screen and (min-width: 1000px) {
    .grid-height {
      height: 32rem;
    }
  }
}
